:root {
  --box-height: 40px;
  --box-width: 40px;
  --box-size: 5px;
  --box-bg: #fff;
  --box-fg: #000;
}

.square-1,
.square-2,
.square-3,
.square-4,
.square-5 {
  height: var(--box-height);
  width: var(--box-height);
  position: relative;
}

.box {
  position: relative;
  width: inherit;
  height: inherit;
  background-color: var(--box-bg)
}

.square-1 .box {
  border-left: var(--box-size) solid var(--box-fg);
  width: calc(100% - var(--box-size));
}

.square-2 .box {
  border-left: var(--box-size) solid var(--box-fg);
  border-bottom: var(--box-size) solid var(--box-fg);
  width: calc(100% - var(--box-size));
  height: calc(100% - var(--box-size));
}

.square-3 .box {
  border-left: var(--box-size) solid var(--box-fg);
  border-bottom: var(--box-size) solid var(--box-fg);
  border-right: var(--box-size) solid var(--box-fg);
  width: calc(100% - (var(--box-size)*2));
  height: calc(100% - var(--box-size));
}

.square-4 .box,
.square-5 .box {
  border: var(--box-size) solid var(--box-fg);
  width: calc(100% - (var(--box-size)*2));
  height: calc(100% - (var(--box-size)*2));
}

.square-5 .box:after {
  background-color: var(--box-fg);
  transform: rotate(45deg);
  content: '';
  position: absolute;
  top: 40%;
  left: -25%;
  height: var(--box-size);
  width: 150%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row span {
  margin: 5px
}